.lian {
    width: 100%;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    text-decoration: none;
}

.jiange {
    color: rgb(17, 16, 16);
    font-size: 24px;
    font-family: 'MiSans';
    font-weight: 600;
    word-wrap: break-word;
}

.jie {
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 600;
    word-wrap: break-word;
    text-decoration: none;
    gap: 20px;
    align-items: center;
}

#zixiang {
    display: inline-flex;
    width: 300px;
    gap: 50px;
}

.bg {
    color: rgb(11, 11, 11);
    text-decoration: none;

}

a.bg:hover {
    background-color: #0b0b0b;
    color: rgb(240, 236, 236);
    text-decoration: underline;

}

.alreadyactive {

    color: #454545;
    text-decoration: underline;
}

.active {
    background-color: #696969;
    color: #fff;
}

#zixiang a {
    opacity: 0;
    transition: .3s;
}

.jie:hover #zixiang a {
    opacity: 100;
}

#toplan {
    top: 2%;
    width: 80%;
    height: 100%;
    padding-top: 3%;
    padding-left: 4%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14%;
    display: inline-flex;
    text-decoration: none;
}

#biaotilan {
    top: 0%;
    width: 96%;
    display: flex;
    flex-direction: row;
    position: sticky;
    padding-top: 2%;
    padding-left: 4%;
    align-items: bottom;
    background-color: rgba(255, 228, 196, 0.091);
    backdrop-filter: blur(12px);
    z-index: 2;
}

#phone_logo{
 display: none;
}

#logo_mark  {
    width: 20%;
    height: 100%;
}


/* 媒体查询：在较小屏幕上进行布局调整 */
@media screen and (max-width: 2000px) {
    .lian {
        font-size: 20px;
    }
    
    .jiange {
        font-size: 20px;
    }
    
    .jie {
        font-size: 20px;
        gap: 20px;

    }
    
    #toplan {
        gap: 10%;
    }
    
    #logo_mark {
        width: 24%; 
    }


}


/* 媒体查询：在手机屏幕上进行布局调整 */
@media screen and (max-width: 600px) {
    .lian {
        font-size: 12px;
    }
    
    .jiange {
        font-size: 12px;
    }
    
    .jie {
        font-size: 12px;
        gap: 4px;
    }
    
    #zixiang {
        width: auto;
        gap: 12px;
    }
    
    #toplan {
        width: 98%;
        gap: 1.6%;
    }
    
    
    #phone_logo{
        display: block;
        width: 14%;
        height: 14%;
        align-items:bottom ;
       }

    #logo_mark {
        display: none;
        
        
    }
    
}