@font-face {
    font-family: "Misans";
    src: url(../assets/fonts/MiSans-Light.ttf);
}
@font-face {
    font-family: "Misans-M";
    src: url(../assets/fonts/MiSans-Medium.ttf);
}


.product_content{
    padding-left: 4%;
    padding-top: 2.4%;
}

.product_introduce{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(62, 197, 85); */
}


#render_pic1{
    width: 60%;
    height: auto;
}



.word_describe{
    width: 24%;
    padding-left: 10%;
    gap: 10%;
    /* justify-self: center; */
    align-content: center;

}

.textblock{
    display: flex;
    flex-direction: column;
    /* flex-shrink: unset;
    
    row-gap: 10px; */
}

h3{
    color: #09141A;
    font-family: 'MiSans-M';
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4{
    color: #09141A;
    font-family: 'MiSans-M';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5{
    color: #09141A;
    font-family: 'MiSans';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.design_process{
    height: 100%;
    padding-bottom: 0%;
}

.design_process_pic{
    display: flex;
    
}

.design_output_pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


@media screen and (max-width:600px){

    .product_content{
        padding-left: 4%;
        padding-top: 1.6%;
    }
    
    .product_content .product_introduce{
        flex-direction: column;
        /* background-color: aqua; */
    }
    
    
    #render_pic1{
        width: 90%;
        /* justify-self: center; */
        height: auto;
    }
    
    
    
    .word_describe{
        width: 96%;
        padding-left: 0%;
        justify-items: center;
        align-content: center;
    
    }
    
    h3{
        color: #09141A;
        font-family: 'MiSans-M';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    h4{
        color: #09141A;
        font-family: 'MiSans-M';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    h5{
        color: #09141A;
        font-family: 'MiSans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}