@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.lian {
    width: 100%;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    text-decoration: none;
}

.jiange {
    color: rgb(17, 16, 16);
    font-size: 24px;
    font-family: 'MiSans';
    font-weight: 600;
    word-wrap: break-word;
}

.jie {
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 600;
    word-wrap: break-word;
    text-decoration: none;
    gap: 20px;
    align-items: center;
}

#zixiang {
    display: inline-flex;
    width: 300px;
    gap: 50px;
}

.bg {
    color: rgb(11, 11, 11);
    text-decoration: none;

}

a.bg:hover {
    background-color: #0b0b0b;
    color: rgb(240, 236, 236);
    text-decoration: underline;

}

.alreadyactive {

    color: #454545;
    text-decoration: underline;
}

.active {
    background-color: #696969;
    color: #fff;
}

#zixiang a {
    opacity: 0;
    transition: .3s;
}

.jie:hover #zixiang a {
    opacity: 100;
}

#toplan {
    top: 2%;
    width: 80%;
    height: 100%;
    padding-top: 3%;
    padding-left: 4%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14%;
    display: inline-flex;
    text-decoration: none;
}

#biaotilan {
    top: 2%;
    width: 96%;
    display: flex;
    flex-direction: row;
    position: sticky;
    padding-top: 2%;
    padding-left: 4%;
    align-items: bottom;
    background-color: rgba(255, 228, 196, 0.091);
    backdrop-filter: blur(12px);
    z-index: 2;
}

#phone_logo{
 display: none;
}

#logo_mark  {
    width: 20%;
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 1);
    margin: 0;
    /* padding: 0; */
}

#pic_group {

    margin-top: 10%;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    place-self: center;
    justify-items: center;
}

.artpic {
    transition: 0.3s;
    width: 700px;
    height: 700px;
}

.img-group {
    position: relative;
    display: inline-block;
}

.img-tip {
    /* transition: 0.3s; */
    width: auto;
    position: absolute;
    bottom: 42%;
    opacity: 0.8;
    display: none;
    color: rgb(255, 255, 255);
    background-color: #0b0b0b17;
    font-size: 48px;
    font-family: 'misans';
    font-weight: 400;
    word-wrap: break-word;
}

.img-group:hover .img-tip {
    /* background-color: #0b0b0b62; */
    display: block;
    width: 100%;
    text-align: center;
    /* mix-blend-mode: difference; */
}

.showpic {
    transition: 0.3s;
    width: 100%;
    height: 100%;
}

.artpic:hover .showpic {
    opacity: 50%;
    background-color: #83838300;
    filter: blur(12px);
    transform: scale(0.8);
}

/*personal page*/

.personal_info {
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-direction: row;
    padding-top: 8%;
    padding-left: 4%;
    /* padding-right: 4%; */
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    row-gap: 20%;
    background-color: rgba(247, 243, 7, 0.852);
    align-content: flex-end;
}



.right{   
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: auto;
    background-color: #0b0b0b;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 4%;
    font-family: 'Misans';
    color: white;

}



.personpic img {
    width: 200px;
    height: 200px;
}

.sayings {
    display: flex;
    flex-direction: column;
    /* background-color: #ff0b0b; */
    row-gap: 240px;
    /* background-color: rgba(0, 255, 255, 0.096); */
}

.name {
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    background-color: #15f886d7;
}


#cmy{
    color: black; 
    font-size: 24px; 
    font-family: 'Inter'; 
    font-weight: 600; 
    word-wrap: break-word;
}

#cmy-chinese{
    color: black; 
    font-size: 24px; 
    font-family: 'JetBrains Mono'; 
    font-weight: 500; 
    word-wrap: break-word;
}




.titles{
    
    font-size: 56px; 
    font-family: 'Calibri'; 
    font-weight: 400; 
    text-transform: uppercase; 
    word-wrap: break-word"

}

.titles-chinese{
   
    font-size: 32px; 
    font-family: 'Calibri'; 
    font-weight: 400; 
    text-transform: uppercase; 
    word-wrap: break-word"

}

.content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* background-color: #1eff0ae7; */

}

.p2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* background-color: #147d0b17; */
}

.personal-text1{
    color: #09141A; 
    font-size: 16px; 
    font-family: 'Misans'; 
    font-weight: 400; 
    word-wrap: break-word;
}

.personal-text2{
    width: 80%;

    color: #D1D1D1; 
    font-size: 16px; 
    font-family: 'misans-Medium'; 
    font-weight: 400; 
    word-wrap: break-word;
}


/* .title1{
background: #992a2a;
} */





/*connect css*/
#personal_concept {
    display: block;
}

#lianxi {

    color: #7d817e;
    text-decoration: underline;
}

.body {
    padding-top: 1%;
    padding-left: 4%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: aquamarine; */
}

.product{
     justify-content: flex-start; 
     align-items: flex-end; 
     gap: 5%; 
     display: inline-flex;

}


#personal_concept{
    width: 44vw;

}

.message_large {
    width: 422px;
    height: 47px;
    color: #09141A;
    font-size: 16px;
    font-family: "misans";
    font-weight: 400;
    word-wrap: break-word"

}

.message_small {
    width: 422px;
    height: 47px;
    color: #09141A;
    font-size: 16px;
    font-family: "misans";
    font-weight: 300;
    word-wrap: break-word"

}

.img {
    width: 200%;
    height: 200%;
    position: relative;
}

#con {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: flex-end;
    flex-wrap: nowrap;
    gap: 10%;
    width: 100%;
}

.icon {
    align-items: center;
    gap: 10px;
}

#qidai {
    margin-bottom: 4%;

}



/* 媒体查询：在较小屏幕上进行布局调整 */
@media screen and (max-width: 2000px) {
    .lian {
        width: 100%;
        display: block;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
        text-decoration: none;
    }
    
    .jiange {
        color: rgb(17, 16, 16);
        font-size: 20px;
        font-family: 'MiSans';
        font-weight: 600;
        word-wrap: break-word;
    }
    
    .jie {
        width: auto;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-family: 'Inter';
        font-weight: 600;
        word-wrap: break-word;
        text-decoration: none;
        gap: 20px;
        align-items: center;
    }
    
    #zixiang {
        display: inline-flex;
        width: 300px;
        gap: 50px;
    }
    
    .bg {
        color: rgb(11, 11, 11);
        text-decoration: none;
    
    }
    
    a.bg:hover {
        background-color: #0b0b0b;
        color: rgb(240, 236, 236);
        text-decoration: underline;
    
    }
    
    .alreadyactive {
    
        color: #454545;
        text-decoration: underline;
    }
    
    .active {
        background-color: #696969;
        color: #fff;
    }
    
    #zixiang a {
        opacity: 0;
        transition: .3s;
    }
    
    .jie:hover #zixiang a {
        opacity: 100;
    }
    
    #toplan {
        top: 2%;
        width: 80%;
        height: 100%;
        padding-top: 3%;
        padding-left: 4%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10%;
        display: inline-flex;
        text-decoration: none;
    }
    
    #biaotilan {
        top: 2%;
        width: 96%;
        display: flex;
        flex-direction: row;
        position: sticky;
        padding-top: 2%;
        padding-left: 4%;
        align-items: bottom;
        background-color: rgba(255, 228, 196, 0.091);
        backdrop-filter: blur(12px);
        z-index: 2;
    }
    
    #phone_logo{
        display: none;
       }
    
    #logo_mark {
        width: 24%;
        
    }


    
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: rgba(245, 245, 245, 1);
        margin: 0;
        padding: 0;
    }
    
    #pic_group {
    
        margin-top: 10%;
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        place-self: center;
        justify-items: center;
    }
    
    .artpic {
        transition: 0.3s;
        width: 412px;
        height: 412px;
    }
    
    .img-group {
        position: relative;
        display: inline-block;
    }
    
    .img-tip {
        /* transition: 0.3s; */
        width: auto;
        position: absolute;
        bottom: 42%;
        opacity: 0.8;
        display: none;
        color: rgb(255, 255, 255);
        background-color: #0b0b0b17;
        font-size: 32px;
        font-family: 'misans';
        font-weight: 400;
        word-wrap: break-word;
    }
    
    .img-group:hover .img-tip {
        /* background-color: #0b0b0b62; */
        display: block;
        width: 100%;
        text-align: center;
        /* mix-blend-mode: difference; */
    }
    
    .showpic {
        transition: 0.3s;
        width: 100%;
        height: 100%;
    }
    
    .artpic:hover .showpic {
        opacity: 50%;
        background-color: #83838300;
        filter: blur(12px);
        transform: scale(0.8);
    }
    
        /*personal page*/

    .personal_info {
        /* width: 100%; */
        height: auto;
        display: flex;
        flex-direction: row;
        padding-top: 8%;
        padding-left: 4%;
        /* padding-right: 4%; */
        justify-content: space-between;
    }

    .left {
        display: flex;
        flex-direction: column;
        row-gap: 10%;
        background-color: rgba(247, 243, 7, 0.852);
        align-content: flex-end;
    }



    .right{   
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        width: auto;
        background-color: #0b0b0b;
        padding-top: 2%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 4%;
        font-family: 'Misans';
        color: white;

    }



    .personpic img {
        width: 200px;
        height: 200px;
    }

    .sayings {
        display: flex;
        flex-direction: column;
        /* background-color: #ff0b0b; */
        row-gap: 164px;
        /* background-color: rgba(0, 255, 255, 0.096); */
    }

    .name {
        display: flex;
        flex-direction: row;
        column-gap: 15%;
        background-color: #15f886d7;
    }


    #cmy{
        color: black; 
        font-size: 24px; 
        font-family: 'Inter'; 
        font-weight: 600; 
        word-wrap: break-word;
    }

    #cmy-chinese{
        color: black; 
        font-size: 24px; 
        font-family: 'JetBrains Mono'; 
        font-weight: 500; 
        word-wrap: break-word;
    }

    .titles{
        
        font-size: 56px; 
        font-family: 'Calibri'; 
        font-weight: 400; 
        text-transform: uppercase; 
        word-wrap: break-word"

    }

    .titles-chinese{
    
        font-size: 32px; 
        font-family: 'Calibri'; 
        font-weight: 400; 
        text-transform: uppercase; 
        word-wrap: break-word"

    }

    .content{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        /* background-color: #1eff0ae7; */

    }

    .p2{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        /* background-color: #147d0b17; */
    }

    .personal-text1{
        color: #09141A; 
        font-size: 16px; 
        font-family: 'Misans'; 
        font-weight: 400; 
        word-wrap: break-word;
    }

    .personal-text2{
        width: 80%;

        color: #D1D1D1; 
        font-size: 16px; 
        font-family: 'misans-Medium'; 
        font-weight: 400; 
        word-wrap: break-word;
    }


    /* .title1{
    background: #992a2a;
    } */
    /*connect css*/
    #personal_concept {
        display: block;
    }
    
    #lianxi {
    
        color: #7d817e;
        text-decoration: underline;
    }
    
    .body {
        padding-top: 1%;
        padding-left: 4%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        /* background-color: aquamarine; */
    }
    
    .product{
        justify-content: flex-start; 
        align-items: flex-end; 
        gap: 5%; 
        display: inline-flex;
   
   }
   
   
   #personal_concept{
    width: 44vw;

}

    .message_large {
        width: 422px;
        height: 47px;
        color: #09141A;
        font-size: 16px;
        font-family: "misans";
        font-weight: 400;
        word-wrap: break-word"
    
    }
    
    .message_small {
        width: 422px;
        height: 47px;
        color: #09141A;
        font-size: 16px;
        font-family: "misans";
        font-weight: 300;
        word-wrap: break-word"
    
    }
    
    .img {
        width: 200%;
        height: 200%;
        position: relative;
    }
    
    #con {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-self: flex-end;
        flex-wrap: nowrap;
        gap: 10%;
        width: 100%;
    }
    
    .icon {
        align-items: center;
        gap: 10px;
    }
    
    #qidai {
        margin-bottom: 4%;
    
    }
}


/* 媒体查询：在手机屏幕上进行布局调整 */
@media screen and (max-width: 600px) {
    .lian {
        width: 100%;
        display: block;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
        text-decoration: none;
    }
    
    .jiange {
        color: rgb(17, 16, 16);
        font-size: 12px;
        font-family: 'MiSans';
        font-weight: 600;
        word-wrap: break-word;
    }
    
    .jie {
        width: auto;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-family: 'Inter';
        font-weight: 600;
        word-wrap: break-word;
        text-decoration: none;
        gap: 4px;
        align-items: center;
    }
    
    #zixiang {
        display: inline-flex;
        width: auto;
        gap: 12px;
    }
    
    .bg {
        color: rgb(11, 11, 11);
        text-decoration: none;
    
    }
    
    a.bg:hover {
        background-color: #0b0b0b;
        color: rgb(240, 236, 236);
        text-decoration: underline;
    
    }
    
    .alreadyactive {
    
        color: #454545;
        text-decoration: underline;
    }
    
    .active {
        background-color: #696969;
        color: #fff;
    }
    
    #zixiang a {
        opacity: 0;
        transition: .3s;
    }
    
    .jie:hover #zixiang a {
        opacity: 100;
    }
    
    #toplan {
        width: 98%;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.6%;
        display: inline-flex;
        text-decoration: none;
    }
    
    #biaotilan {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: sticky;
        
        background-color: rgba(255, 228, 196, 0.091);
        backdrop-filter: blur(12px);
        z-index: 2;
    }
    
    #phone_logo{
        display: block;
        width: 14%;
        height: 14%;
        align-items:bottom ;
       }

    #logo_mark {
        display: none;
        
        
    }
    
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: rgba(245, 245, 245, 1);
        margin: 0;
        padding: 0;
    }
    
    #pic_group {
    
        margin-top: 10%;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        column-gap: 2px;
        row-gap: 8px;
        place-self: center;
        justify-items: center;
    }
    
    .artpic {
        transition: 0.3s;
        width: 180px;
        height: 180px;
    }
    
    .img-group {
        position: relative;
        display: inline-block;
    }
    
    .img-tip {
        /* transition: 0.3s; */
        width: auto;
        position: absolute;
        bottom: 42%;
        opacity: 0.8;
        display: none;
        color: rgb(255, 255, 255);
        background-color: #0b0b0b17;
        font-size: 16px;
        font-family: 'misans';
        font-weight: 400;
        word-wrap: break-word;
    }
    
    .img-group:hover .img-tip {
        /* background-color: #0b0b0b62; */
        display: block;
        width: 100%;
        text-align: center;
        /* mix-blend-mode: difference; */
    }
    
    .showpic {
        transition: 0.3s;
        width: 100%;
        height: 100%;
    }
    
    .artpic:hover .showpic {
        opacity: 50%;
        background-color: #83838300;
        filter: blur(12px);
        transform: scale(0.8);
    }
    


    /*personal page*/
    .personal_info {
        /* width: 100%; */
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 8%;
        padding-left: 4%;
        /* padding-right: 4%; */
        
    }

    .left {
        /* width: 240px; */
        display: flex;
        flex-direction: column;
        /* row-gap: 8%; */
        background-color: rgba(247, 243, 7, 0.852);
        padding-bottom: 36px;
        /* align-content: flex-end; */
    }



    .right{   
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        width: 100%;
        background-color: #0b0b0b;
        padding-top: 2%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 4%;
        font-family: 'Misans';
        color: white;

    }



    .personpic img {
        width: 80px;
        height: 80px;
    }

    .sayings {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        /* background-color: #ff0b0b; */
        
        /* background-color: rgba(0, 255, 255, 0.096); */
    }

    .name {
        display: flex;
        flex-direction: column;
        background-color: #15f886d7;
    }


    #cmy{
        color: black; 
        font-size: 20px; 
        font-family: 'Inter'; 
        font-weight: 600; 
        word-wrap: break-word;
    }

    #cmy-chinese{
        color: black; 
        font-size: 20px; 
        font-family: 'JetBrains Mono'; 
        font-weight: 500; 
        word-wrap: break-word;
    }




    .titles{
        font-size: 42px; 
        font-family: 'Calibri'; 
        font-weight: 400; 
        text-transform: uppercase; 
        word-wrap: break-word"

    }

    .titles-chinese{
    
        font-size: 32px; 
        font-family: 'Calibri'; 
        font-weight: 400; 
        text-transform: uppercase; 
        word-wrap: break-word"

    }

    .content{
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        /* background-color: #1eff0ae7; */

    }

    .p2{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        /* background-color: #147d0b17; */
    }

    .personal-text1{
        color: #09141A; 
        font-size: 14px; 
        font-family: 'Misans'; 
        font-weight: 400; 
        word-wrap: break-word;
    }

    .personal-text2{
        width: 100%;

        color: #D1D1D1; 
        font-size: 14px; 
        font-family: 'misans-Medium'; 
        font-weight: 400; 
        word-wrap: break-word;
    }


    /* .title1{
    background: #992a2a;
    } */
    /*connect css*/
    #personal_concept {
        display: block;
    }

    #lianxi {

        color: #7d817e;
        text-decoration: underline;
    }

    .body {
        padding-top: 4%;

        
        /*  
        padding-left: 4%;
        width: 80%;
        display: flex;
        flex-direction: row;
        
        align-items: flex-end; */
        /* background-color: aquamarine; */
    }

    .product{
        display: block;
        flex-direction: column;
        justify-content: center;
        
        gap: 5%; 
    }

    #personal_concept{
        width: 80%;
        justify-self: center;

    }

    /* #connect_info{



    } */

    .message_large {
        width: 422px;
        height: 47px;
        color: #09141A;
        font-size: 16px;
        font-family: "misans";
        font-weight: 400;
        word-wrap: break-word"

    }

    .message_small {
        width: 422px;
        height: 47px;
        color: #09141A;
        font-size: 16px;
        font-family: "misans";
        font-weight: 300;
        word-wrap: break-word"

    }

    .img {
        width: 200%;
        height: 200%;
        position: relative;
    }

    #con {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-self: flex-end;
        flex-wrap: nowrap;
        gap: 10%;
        width: 100%;
    }

    .icon {
        align-items: center;
        gap: 10px;
    }

    #qidai {
        margin-bottom: 4%;
    }
}