@font-face {
    font-family: 'Misans';
    src: url('../assets/fonts/MiSans-Normal.woff2') format('woff2');
   
    font-family: 'Alibaba PuHuiTi';
    src: url('../assets/fonts/AlibabaPuHuiTi-2-55-Regular.ttf') format('ttf');
    
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.ttf') format('ttf');
    
  }



.lian{
    width: 100%;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    text-decoration:none;

}
.jiange{
    color: rgb(17, 16, 16);
    font-size: 24px;
    font-family: MiSans;
    font-weight: 600;
    word-wrap: break-word;
}
.jie{
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    text-decoration:none;
    gap: 20px;
    align-items: center;
}
#zixiang{
    display: inline-flex;
    width: 300px;
    gap: 50px;

}
.bg{
    color: rgb(11, 11, 11);
    text-decoration: none;

}
a.bg:hover{
    background-color: #0b0b0b;
    color: rgb(240, 236, 236);
    text-decoration: underline;

}

.alreadyactive {
   
    color: #454545;
    text-decoration: underline;
  }

.active {
    background-color: #696969;
    color: #fff;
  }


#zixiang a{
    opacity: 0;
    transition: .3s;}

.jie:hover #zixiang a{
    opacity: 100;
}

#toplan{
    top: 2%;
    width: 80%;
    height: 100%; 
    padding-top: 3%; 
    padding-left: 4%;
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 14%; 
    display: inline-flex;
    text-decoration: none;
}
#biaotilan{
    top: 2%;
    width: 96%;
    display: flex; 
    flex-direction: row;
    position: sticky;
    padding-top: 2%;
    padding-left: 4%; 
    align-items: bottom;  
    background-color: rgba(255, 228, 196, 0.091);
    backdrop-filter: blur(12px);
    z-index: 2;

}
#logo_mark{
    width: 20%;
    height: 100%;
    


}

body{
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
    background-color: rgba(245, 245, 245, 1);
    margin: 0;
    /* padding: 0; */
}

#pic_group{

    margin-top: 10%;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    place-self: center;
    justify-items: center;


}


.artpic{
    transition: 0.3s;
    width: 700px;
    height: 700px;
    

}
.img-group {
    position: relative;
    display: inline-block;
    
  }
          
.img-tip {
    /* transition: 0.3s; */
    width: auto;
    position: absolute;
    bottom: 42%;
    opacity: 0.8;
    display: none;
    color: rgb(255, 255, 255);
    background-color: #0b0b0b17;
    font-size: 48px;
    font-family: Alibaba PuHuiTi;
    font-weight: 400;
    word-wrap: break-word;

  }
          
.img-group:hover .img-tip {
    /* background-color: #0b0b0b62; */
    display: block;
    width: 100%;
    text-align: center;
    /* mix-blend-mode: difference; */

   
    
    
  }

.showpic{
    transition: 0.3s;
    width: 100%;
    height: 100%;
}


.artpic:hover .showpic{
    opacity: 50%;
    background-color: #83838300;
    filter: blur(12px);
    transform: scale(0.8);

    
}

.personal_info{
    width: 96%;
    height: auto;
    display: flex; 
    flex-direction: row;
    padding-top: 8%;
    gap: 20%;
    justify-content: center;

}
.left{
    
    display: flex;
    flex-direction: column;
    row-gap: 20%;
    /* background-color: rgba(237, 248, 20, 0.242); */
    align-content: flex-end;
}
.personpic img{
    width: 200px;
    height: 200px;
}

.sayings{
    display: flex;
    flex-direction: column;
    /* background-color: #ff0b0b; */
    row-gap: 240px;
    background-color: rgba(0, 255, 255, 0.096);
    
}

.name{
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    /* background-color: #07c72436; */
}




.blackbg{
    display: flex;
    flex-direction: column;
    gap: 360px;
    background-color: #0b0b0b;
}
/*connect css*/
#personal_concept{
    display: block;
    
}

#lianxi{
    
    color: #7d817e;
    text-decoration: underline;
}

.body{
    padding-top: 1%; 
    padding-left: 5.6%;
    width: 80%;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: aquamarine; */
    
    
} 
.message_large{
    width: 422px; 
    height: 47px;
    color: #09141A; 
    font-size: 16px; 
    font-family: MiSans; 
    font-weight: 400; 
    word-wrap: break-word"
}
    
.message_small{
    width: 422px; 
    height: 47px;
    color: #09141A; 
    font-size: 16px; 
    font-family: MiSans; 
    font-weight: 300; 
    word-wrap: break-word"
}


.img{
    width: 200%;
    height: 200%;
    position: relative;

    }

            
#con{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: flex-end;
    flex-wrap: nowrap;
    gap: 10%;
    width: 100%;
}
.icon{
    align-items: center;
    gap: 10px;
}
#qidai{
    margin-bottom: 4%;

}