/*pic_grid group*/
@import'pic_grid.css';

/*personal page*/
@import"personal.css";

/*connect css*/
@import"connect.css";
@import "header.css";
@import "product_introduce.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@font-face {
    font-family: "Misans";
    src: url(../assets/fonts/MiSans-Light.ttf);
}
@font-face {
    font-family: "Misans-M";
    src: url(../assets/fonts/MiSans-Medium.ttf);
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 1);
    margin: 0;
    /* padding: 0; */
}




    


   